<div class="container">
  <h2>Trip: <%= @trip.trip_name %></h2>
  <h4>Duration: <%= @trip.trip_duration %> parsecs</h4>
  <%= link_to 'Add Stops', new_trip_location_path(@trip) %> <br>
  <%= link_to 'Edit', edit_trip_path(@trip) %> <br><!--RAS-->
  <%= link_to 'Delete', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' } %> <br><!--RAS-->
  <%= link_to 'All Trips', trips_path %> <br>
  <hr>
  <h5>Itnerary</h5>
  <hr>
  <% @locations.each do |location| %>
    <%= location.name %> <br>
    <%= location.address %> <br>
    <div class="edit-destroy-icons">
      <%= link_to 'Edit', edit_trip_location_path(@trip, location) %>
      <%= link_to 'Delete', trip_location_path(@trip, location), method: :delete, data: { confirm: 'Are you sure?' } %> <br>
    </div>
    <hr>
  <% end %>
</div>
