<div class="container mt-5 text-center">
  <h1 class="mb-5">Add Stop to "<%= @trip.trip_name %>"</h1>

  <%= form_for [@trip, @location], class: 'form-group' do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control bg-dark text-white text-center my-4 options', list: 'locations', required: true, autofocus: true, autocomplete: 'off' %>
    <%= f.label :address %>
    <%= f.text_area :address, class: 'form-control bg-dark text-white text-center' %>
    <%= f.submit nil, class: 'btn btn-warning text-white mt-3 form-link' %>
  <% end %>

  <datalist id="locations">
    <% @locations.all.each do |l| %>
      <option value="<%= l.name %>"><%= l.name %><%= l.address %></option>
      <% end %>
  </datalist>

  <%= link_to 'Go Back', trips_path, class: 'btn btn-danger text-white mt-3 form-link' %>
</div>
