<!DOCTYPE html>
<html>
  <head>
    <title>TripTrackr</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h5>Trip Trackr NavBar Goes Here - Find me at application.html.erb</h5> <!--NAVBAR WILL GO HERE -->

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
