<!DOCTYPE html>
<html>
  <head>
    <title>TripTrackr</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-dark">

      <div class="navbar-brand">
        <%= link_to trips_path, id:'logo-link' do %>
          <%= image_tag(('logo-nav-bar.png'), id: 'nav-logo-img') %>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar">
        <i class="fa fa-bars fa-lg"></i>
      </button>

      <div class="collapse navbar-collapse" id="collapseNavbar">
        <ul class="navbar-nav">
          <li class="nav-item mr-4">
            <%= link_to 'All', trips_path, class: 'nav-link' %>
          </li>
          <li class="nav-item mr-2 dropdown">
            <a href="#" class="nav-link dropdown-toggle", data-toggle="dropdown">New</a>
            <!-- <%= link_to 'New', new_trip_path , class: 'nav-link dropdown-toggle', 'data-toggle':'dropdown'%> -->
            <div class="dropdown-menu bg-dark">
              <%= link_to 'New Adventure', new_trip_path, class:'dropdown-item dd-link' %>
              <%= link_to 'New Stop', new_no_nest_path, class: 'dropdown-item dd-link' %>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <!-- Flash Messages -->
    <% flash.each do |key, value| %>
      <div class="text-center alert alert-<%= key %>">"<%= value %>"</div>
    <% end %>
    <%= yield %>

    <footer class="bg-dark text-center">
      Made by <a href="https://github.com/isabeljulmar" target="_blank">Isabel Martin</a>, <a href="https://github.com/gadzooks25" target="blank_">Justin Dean</a>, and <a href="https://github.com/maxwinslow" target="blank_">Max Winslow</a> for DevPoint Labs
    </footer>

  </body>

</html>
